* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  max-width: 1090px;
  margin: auto;
}

.col {
  display: flex;
  padding-bottom: 12px;
}

.col-3 {
  flex: 1;
  padding: 0 15px 30px;
}

.col-4 {
  flex: 1;
  padding: 0 15px 24px;
}

.pd-42 {
  padding: 42px 0;
}

.mg-15 {
  margin: 0 -15px;
  display: flex;
}

.btn {
  height: 40px;
  border: 2px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  padding: 0 18px;
  background-color: #fff;
}

.btn > a {
  text-transform: uppercase;
  font-size: 14px;
  color: #000000;
  line-height: 1.6;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-decoration: none;
}

.btn:hover {
  background-color: #000000;
  transition: all 0.5s;
}

.btn:hover a {
  color: #fff;
}

.b {
  display: block;
  flex: 1;
  height: 2px;
  opacity: 0.1;
  background-color: currentColor;
  font-weight: bolder;
  margin: auto;
}

html {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

body {
  color: #000000;
  line-height: 1.6;
  font-weight: 400;
}

#all-header {
  /* position: fixed; */
  width: 100%;
  z-index: 4;
}

#header1 {
  height: 50px;
  background-color: #12243d;
}
.main-header1 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 50px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
  padding: 0 15px;
}
#support {
  display: flex;
}
#support > p {
  padding: 0 20px;
}
#support a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
#support .ti-mobile,
#support .ti-email {
  padding-right: 6px;
}
#signin a {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  cursor: pointer;
}
#support p:hover a,
#support p:hover i,
#signin a:hover {
  color: #fff;
}

#header2 {
  width: 100%;
  height: 75px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 3;
}
.main-header2 {
  /* position: sticky;
  position: -webkit-sticky;
  top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
#header2 .stuck {
  display: block;
  animation: stuckMoveDown .6s;
}
.stuck {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@keyframes stuckMoveDown {
  0% {transform: translateY(-100%);}
  100% {transform: translateY(0);}
}
.main-header2 > a {
  height: 75px;
}
.main-header2 > a img {
  height: inherit;
  padding: 5px 0;
}
#nav {
  display: flex;
}
#nav > li {
  display: inline-block;
  /* padding: relative; */
  padding: 0 13px;
  cursor: pointer;
}
#nav > li > a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 12.8px;
  text-transform: uppercase;
  line-height: 65px;
  letter-spacing: 0.02em;
  align-items: center;
  opacity: 1;
}
#nav li:hover a {
  opacity: 0.6;
}
#nav .subnav-product,
#nav .subnav-service {
  display: none;
  position: absolute;
  margin-top: 2px;
  margin-left: -10px;
  background-color: #fff;
  box-shadow: 1px 2px 7px #918d8d;
  border: 3px solid gray;
  padding: 10px 15px;
  z-index: 1;
}
#nav .subnav-product li:last-child,
#nav .subnav-service li:last-child {
  border-bottom: none;
}
#nav .subnav-product li,
#nav .subnav-service li {
  position: relative;
  list-style: none;
  padding: 8px 10px;
  border-bottom: 1px solid gray;
  width: 200px;
}
#nav .subnav-product li a,
#nav .subnav-service li a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  font-size: 12.8px;
  text-transform: uppercase;
  opacity: 1;
}
#nav li:hover .subnav-product,
#nav li:hover .subnav-service {
  display: block;
}
#nav li .subnav-product a:hover,
#nav li .subnav-service a:hover {
  opacity: 0.6;
  /* animation: modalFadeIn ease 0.5s; */
}
#nav .ti-search {
  font-weight: bolder;
  font-size: 16px;
  vertical-align: -3px;
}

.slider {
  /* background-image: url("https://26634.themes.vinawebsite.vn/wp-content/uploads/2020/03/slider_home.jpg");
  background-size: cover;
  padding: 20%; */
  /* animation-name: slider;
  animation-duration: 4s;
  position: relative;
  animation-iteration-count: infinite; */
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  
}
.slide-wrapper {
  width: 300%;
  animation: slide 14s ease infinite;
}
.slide {
  float: left;
  height: 100%;
  width: 33.333333%;
  
}
.slide img {
  width: 100%;
}
@keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -100%;}
  50% {margin-left: -100%;}
  60% {margin-left: -200%;}
  80% {margin-left: -200%;}
  /* 20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  80% {margin-left: -1456px;} */
}

/* .content {
} */

/* #about {
} */
.sub-about {
  display: flex;
}
.sub-about .about-text,
.sub-about .about-img {
  flex: 1;
  margin: 0 15px 30px;
  /* width: 100%; */
  overflow: hidden;
}
.sub-about .about-img > img {
  width: 100%;
  transition: all 0.7s;
}
.sub-about .about-img:hover > img {
  transform: scale(1.2);
}
.sub-about .about-text-h3 {
  margin-bottom: 34px;
  border-bottom: 2px solid #ececec;
}
#about:hover .sub-about .about-text-h3 {
  animation: titleFadeIn ease 1.5s;
}
.sub-about .about-text-h3 h3 {
  display: inline-block;
  text-transform: uppercase;
  padding-bottom: 7.5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: -2px;
}
.sub-about p {
  margin-bottom: 20px;
}
.process {
  background-image: url(https://26634.themes.vinawebsite.vn/wp-content/uploads/2020/03/bg-2-1024x522-b.jpg);
  background-size: cover;
  height: 480px;
  /* padding: 15%; */
  position: relative;
}
.process .process-title {
  width: 100%;
  position: absolute;
  display: flex;
  top: 32px;
  padding-bottom: 54px;
  /* text-align: center; */
}
.process:hover .process-title {
  animation: titleFadeIn ease 1.5s;
}
.process .process-title h3 {
  /* margin: auto; */
  color: rgb(255, 255, 255);
  margin: 0 15px;
  font-size: 20px;
}
.main-process {
  display: flex;
  position: absolute;
  /* width: 100%; */
  bottom: 0;
}
.main-process .sub-process {
  padding: 0 15px 30px;
  text-align: center;
  width: 25%;
}
.main-process .sub-process img {
  width: 100%;
}
.sub-process .process-text {
  width: 100%;
  padding: 10px 10px 20px;
  color: #fff;
  font-size: 18.7px;
  font-weight: 700;
}

#project {
}
#project .project-title {
  display: flex;
  margin-bottom: 32px;
}
#project:hover .project-title {
  animation: titleFadeIn ease 1.5s;
}
#project .project-title h3,
#service .service-title h3,
#news .news-title h3,
.feedback-title h3 {
  text-align: center;
  color: #000000;
  margin: 0 15px;
}
#project .nav-project {
  display: block;
  text-align: center;
  margin-bottom: 15px;
}
#project .nav-project li {
  display: inline-block;
  padding: 3px;
}
#project .nav-project li:hover {
  background-color: yellow;
  /* border-radius: 20px; */
  /* border: 2px solid #000000; */
}
#project .nav-project li a {
  text-decoration: none;
  font-size: 12.8px;
  color: #000000;
  text-transform: uppercase;
  padding: 6px 12px;
  font-weight: 700;
  opacity: 0.8;
  letter-spacing: 0.02em;
}
#project .project-img {
  display: flex;
  flex-wrap: wrap;
  animation: titleFadeIn ease 1.5s;
}
#project .project-main-img {
  width: 25%;
  height: 300px;
  position: relative;
  display: inline-block;
}
.project-main-img img {
  width: 100%;
  height: 100%;
}
.project-main-img .project-text {
  position: absolute;
  width: 100%;
  bottom: 15%;
  background-color: rgba(255, 255, 255, 0.95);
  transition: all 0.3s;
  text-align: center;
  padding: 14px;
}
#project .project-main-img:hover .project-text {
  background-color: #000000;
  color: #f1f1f1;
  transition: all 0.3s;
}
#project .project-btn {
  background-color: yellow;
  padding: 18px 0;
  margin: 8px;
  animation: titleFadeIn ease 1.5s;
}
#project .project-btn > button {
  display: block;
  margin: auto;
}

#service,
.feedback {
  background-color: rgb(231, 233, 235);
}
#service .service-title,
#news .news-title,
.feedback-title {
  display: flex;
}

#service:hover .service-title,
#news:hover .news-title,
.feedback:hover .feedback-title {
  animation: titleFadeIn ease 1.5s;
  /* animation-iteration-count: 1; */
}

#news .main-news,
.feedback .main-feedback {
  margin: 0 -12px;
}
#service .main-service {
  margin: 0 -15px;
}
#service .sub-service {
  /* margin: 0 3px; */
  /* align-items: center; */
}
.sub-service-img {
  width: 100%;
  height: 82%;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgb(211, 213, 215);
}
.sub-service-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 10px;
  object-fit: cover;
  transition: all 0.7s;
}
.sub-service-img img:hover {
  transform: scale(1.2);
}
.sub-service .service-text {
  font-size: 16.5px;
  text-align: center;
  padding-bottom: 10px;
}
.service-divider {
  display: block;
  width: 100%;
  max-width: 30px;
  height: 3px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 14.4px 0;
  margin-left: auto;
  margin-right: auto;
}

#news .sub-news {
  box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
#news .sub-news:hover {
  box-shadow: 3px 3px 10px rgb(0 0 0 / 32%);
  transition: all 0.4s;
}
#news .sub-news img {
  width: 100%;
  height: 267px;
}
.sub-news .news-text {
  padding: 10px 17px 20px;
}
.project-text .news-sub-title,
.news-text .news-sub-title {
  font-size: 16.5px;
  line-height: 1.3;
  margin: 1.65px 0;
}
.project-text .news-date,
.news-text .news-date {
  font-size: 11.5px;
  opacity: 0.8;
}
.project-text .news-divider,
.news-divider {
  /* width: 100%; */
  max-width: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 7.2px 0;
}
.project-text .news-divider {
  margin: 7.2px 0;
  margin-left: auto;
  margin-right: auto;
}
.project-text .news-sub-text,
.news-text .news-sub-text {
  font-size: 14.4px;
  margin: 1.44px 0;
}
.news-text .news-more {
  display: inline-block;
  margin-top: 11.52px;
}
.news-text .news-more:hover .news-more-divider {
  width: 100%;
  background-color: #000000;
  opacity: 1;
  transition: all 0.3s;
}
.news-text .news-more a {
  font-size: 12px;
  color: #666;
  padding: 0 1.73px;
  letter-spacing: 0.03em;
  font-weight: bolder;
  text-decoration: none;
  border: 1px solid transparent;
}
.news-more-divider {
  width: 60%;
  height: 2.5px;
  background-color: currentColor;
  opacity: 0.2;
  margin: auto;
}

.feedback .sub-feedback {
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.feedback .sub-feedback img {
  border-radius: 50%;
  width: 130px;
  margin-bottom: 16px;
}
.sub-feedback .feedback-star {
  margin-bottom: 8px;
}
.feedback-star .ti-star {
  color: #c33223;
}
.sub-feedback .feedback-name {
  padding-top: 15px;
}

#footer {
  background-color: #000000;
  color: #f1f1f1;
}
.footer-links-title,
.footer-fanpage-title,
.footer-map-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.05em;
}
#footer .footer-info img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-bottom: 40px;
}
.footer-divider {
  display: block;
  width: 100%;
  max-width: 30px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 10.5px 0 16px;
}
.footer-info > p {
  padding-bottom: 20px;
}
.footer-info > p i {
  padding: 0 5px;
}
.footer-info > p a {
  color: inherit;
  text-decoration: none;
}
.footer-info p a {
  opacity: 0.85;
}
.footer-info a:hover {
  opacity: 1;
}
.footer-social {
  padding-bottom: 20px;
}
.footer-social a {
  color: inherit;
  text-decoration: none;
  margin: 10px 3px;
}
.footer-social a i {
  border: 1.5px solid;
  border-radius: 50%;
  padding: 6px;
}
.footer-social .ti-facebook:hover,
.footer-social .ti-twitter-alt:hover {
  background-color: #3a589d;
  border: 1.5px solid #3a589d;
  transition: all 0.2s;
}
.footer-social .ti-instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border: 1.5px solid #f09433;
  transition: all 0.2s;
}
.footer-social .ti-youtube:hover {
  background-color: #c33223;
  border: 1.5px solid #c33223;
  transition: all 0.2s;
}
.footer-links-nav li {
  list-style: none;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.15);
}
.footer-links-nav li:last-child {
  border-bottom: none;
}
.footer-links-nav li a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: 7px 0;
  opacity: 0.85;
}
.footer-links-nav li a:hover {
  opacity: 1;
}

.modal,
.modal-search {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal.open,
.modal-search.open {
  display: flex;
  z-index: 5;
}
.modal .modal-container,
.modal-search .main-modal-search {
  display: flex;
  max-width: 875px;
  width: 100%;
  background-color: #fff;
  padding: 30px 5px;
  box-shadow: 3px 3px 20px 0 rgb(0 0 0 / 35%);
  animation: modalFadeIn ease 0.7s; /* animation: <tên keyframes> <kiểu animation> <thời gian chạy>; */
}
.modal .main-modal {
  flex: 1;
  padding: 0 30px 30px;
}
.modal .main-modal:first-child {
  border-right: 1px solid #ececec;
}
.modal .main-modal h3 {
  letter-spacing: 0.05em;
  line-height: 1.2;
  margin-bottom: 10px;
}
.modal .sub-modal {
  margin-bottom: 8px;
}
.modal .main-modal label {
  display: block;
  color: #222;
  font-size: 14.4px;
  font-weight: bold;
  margin-bottom: 5.76px;
}
#il {
  display: flex;
}
.sub-modal #checkbox input {
  margin: 0 4px 0 10px;
}
.sub-modal #checkbox label {
  display: inline-block;
}
.modal .sub-modal > input {
  width: 100%;
  height: 39px;
  font-size: 0.97em;
  border: 1px solid #ddd;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  padding: 0 11.6px;
  margin-bottom: 15.5px;
}
.sub-modal input:focus {
  border: none;
  box-shadow: 0 0 5px #ccc;
  opacity: 1;
  outline: 0;
}
.main-modal button {
  display: inline-block;
  color: #fff;
  border-color: rgba(0, 0, 0, 0.05);
  background-color: #000000;
  font-size: 0.97em;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-weight: bolder;
  line-height: 2.4em;
  padding: 0 18.6px;
  margin-right: 15.5px;
}
.main-modal button:hover {
  opacity: 0.85;
  transition: all 0.2;
}
.main-modal p a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  opacity: 1;
}
.main-modal p a:hover {
  opacity: 0.8;
}

/* tạo ra chuyển động trượt từ trên xuống */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-130px); /* vị trí bắt đầu chạy xuống*/
  }
  to {
    opacity: 1;
    transform: translateY(0); /* vị trí kết thúc*/
  }
}

.modal-search .main-modal-search {
  width: 600px;
  max-width: 90%;
  font-size: 1.5em;
  padding: 0;
}
.modal-search-input {
  flex: 1;
  font-size: 1.15em;
}
.modal-search-input input {
  width: 100%;
  height: 2.507em;
  background-color: #fff;
  color: #333;
  font-size: 0.97em;
  border: 1px solid #ddd;
  padding: 0 0.75em;
}
.modal-search-input input:focus {
  border: none;
  box-shadow: 0 0 5px #ccc;
  /* opacity: 1; */
  outline: 0;
}
.modal-search-button {
  position: relative;
  font-size: 1.15em;
}
.modal-search-button button {
  min-height: 2.5em;
  font-size: 0.97em;
  background-color: #000000;
  color: #fff;
  padding: 0 1.2em;
  border: 1px solid transparent;
  cursor: pointer;
}
.modal-search-button button:hover {
  opacity: 0.8;
  transition: all 0.2s;
}
.modal-search-button button i {
  position: absolute;
  top: 16px;
  left: 20px;
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  font-weight: bolder;
  line-height: 1.2;
}

@keyframes slider {
  from {
    left: 0px;
    top: 0;
  }
  to {
    top: 0;
    right: 0px;
  }
}

@keyframes titleFadeIn {
  from {
    opacity: 0;
    transform: translateY(100px); /* vị trí bắt đầu chạy xuống*/
  }
  to {
    opacity: 1;
    transform: translateY(0); /* vị trí kết thúc*/
  }
}

.nav-bars-tablet,
.nav-bars-mobile {
  display: none;
}

.nav-bars-tablet,
.nav-bars-mobile {
  position: absolute;
  left: 15px;
  top: 21px;
}
.nav-bars-tablet a,
.nav-bars-mobile a {
  display: inline-block;
  max-width: 100%;
  min-width: 2.5em; 
  font-size: .8em;
  color: #fff;
  background-color: #000000;
  padding: 0 0.9em;
  border-width: 1px;
  border-radius: 5px;
  letter-spacing: .03em;
  line-height: 2.4em;
  text-decoration: none;
  text-align: center;
}
.nav-bars-mobile a {
  padding: 0;
}
.nav-bars-tablet a i,
.nav-bars-mobile a i {
  font-size: 1.2em;
  vertical-align: -2px;
  margin-right: 5px;
}
.nav-bars-mobile a i {
  margin-right: 0px;
}
.nav-tablet {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.nav-tablet-container {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  max-width: 100%;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
  padding: 30px 0;
  z-index: 2;
  animation: menuFadeIn ease 0.4s;
}
.nav-tablet .nav-sidebar li {
  width: 100%;
  display: block;
  list-style: none;
  transition: background-color .3s;
  align-items: center;
  padding: 15px 0 15px 20px;
  border-top: 1px solid #ececec;
}
.nav-tablet .nav-sidebar li:hover {
  background-color: rgba(0,0,0,0.05);
}
.nav-tablet .nav-sidebar li:hover:first-child,
.nav-tablet .nav-sidebar li:hover:last-child {
  background: none;
}
.nav-tablet .nav-sidebar li:first-child {
  padding: 0;
  border: none;
}
.nav-tablet .nav-sidebar li:nth-child(4):hover ul li {
  width: 100%;
  display: block;
  list-style: none;
  transition: background-color .3s;
  align-items: center;
  padding: 15px 0 15px 20px;
  border-top: 1px solid #ececec;
}
.nav-tablet .nav-sidebar li a {
  display: block;
  font-size: .8em;
  color: rgba(102,102,102,0.85);
  letter-spacing: .02em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  transition: all .2s;
}
.nav-sidebar .subnav-product,
.nav-sidebar .subnav-service {
  display: none;
}
.nav-tablet .nav-sidebar .main-modal-search {
  display: flex;
  font-size: .85em;
  padding: 20px;
}
.nav-tablet .nav-sidebar .main-modal-search .modal-search-input {
  font-size: inherit;
}
.nav-tablet .nav-sidebar .main-modal-search .modal-search-button button {
  height: 2.5em;
  font-size: 0.85em;
  vertical-align: 2px;
}
.nav-tablet .nav-sidebar .main-modal-search .modal-search-button button i {
  top: 8px;
    left: 10px;
}
.nav-sidebar li .footer-social {
  display: flex;
  font-size: 1.2em;
}
.nav-sidebar li .footer-social a {
  color: #999;

}
.nav-sidebar li .footer-social a i {
  border: 2px solid;
}
.nav-sidebar li .footer-social a:hover i {
  color: #fff;
}

@keyframes menuFadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%); /* vị trí bắt đầu chạy xuống*/
  }
  to {
    opacity: 1;
    transform: translateX(0); /* vị trí kết thúc*/
  }
}

/* Tablet nav */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

  .nav-bars-tablet {
    display: block;
  }
  #header2 #nav {
    display: none;
  }
  .main-header2 a {
    margin: auto;
  }
  /* .main-header2 #nav {
    display: block;
  } */

  .nav-tablet {
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate(0, 0);
    opacity: 1;
  }
  /* .nav-sidebar {
    display: none;
  } */

  .nav-tablet.open {
    display: block;
  }
  

  .main-process .sub-process {
    max-width: 25%;
    flex-basis: 25%;
  }
  .process .process-title,
  #project .project-title,
  #service .service-title, 
  #news .news-title, 
  .feedback-title {
    width: 95%;
    margin: auto;
  }
  .process .process-title {
    position: relative;
  }
  #project .project-main-img {
    width: 33.3333%;
  }

  .sub-service-img {
    width: 100%;
    height: 75%;
  }
  #service .main-service,
  #news .main-news, 
  .feedback .main-feedback,
  .mg-15 {
    margin: 0;
  }
  .mg-15 {
    /* margin: 0; */
    /* padding: 0 15px; */
  }

  .footer-info a img,
  .footer-fanpage iframe,
  .footer-map iframe,
  .about-map iframe {
    width: 100%;
  }
}


/* Mobile nav */
@media only screen and (max-width: 46.1875em) {
  .nav-bars-mobile {
    display: block;
  }
  .nav-bars-mobile a {
    text-decoration: none;
    color: #fff;
    background-color: #000000;
  }
  .nav-bars-mobile a i {
    /* font-weight: bold; */
  }
  .nav-tablet.open {
    display: block;
  }
  .main-header1 {
    justify-content: center;
  }
  #header2 #nav {
    display: none;
  }
  .main-header2 a {
    margin: auto;
  }
  #support {
    display: none;
  }

  .process .process-title,
  #project .project-title,
  #service .service-title, 
  #news .news-title, 
  .feedback-title {
    width: 95%;
    margin: auto;
  }
  
  .sub-about {
    display: block;
  }
  .process {
    height: auto;
  }
  .process .process-title {
    position: relative;
  }
  .main-process {
    display: block;
    position: relative;
  }
  .main-process .sub-process {
    width: 100%;
  }
  .main-process .sub-process img {
    width: 90%;
  }

  #project .project-img {
    display: block;
  }
  #project .project-main-img {
    width: 100%;
  }
  
  #service .main-service {
    /* padding: 0 16px; */
    margin: 0;
  }
  .sub-service-img {
    width: 100%;
    height: 82%;
  }
  #news .main-news, .feedback .main-feedback {
    margin: 0;
  }
  .col {
    display: block;
  }
  .mg-15 {
    display: block;
    margin: 0;
    /* text-align: center; */
  }
  .modal .modal-container {
    display: block;
    width: 80%;
  }
  .main-modal button {
    font-size: 0.8em;
    padding: 0 12px;
    line-height: 1.6;
  }
}

/* .modal .modal-container {
	-webkit-animation: modal-container 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: modal-container 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
} */

/* ----------------------------------------------
 * Generated by Animista on 2022-6-3 17:22:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation modal-container
 * ----------------------------------------
 */
/* @-webkit-keyframes modal-container {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(100px);
            transform: translateZ(160px) translateY(100px) translateX(100px);
  }
}
@keyframes modal-container {
  0% {
    -webkit-transform: translateZ(0) translateY(0) translateX(0);
            transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    -webkit-transform: translateZ(160px) translateY(100px) translateX(100px);
            transform: translateZ(160px) translateY(100px) translateX(100px);
  }
} */
