.pt-30 {
  padding-top: 30px;
}
.pr-col {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  max-width: 100%;
}
.pr-col-4 {
  width: 25%;
  padding: 0 10px 20px;
}
.badge-container {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 30px;
  left: -0.5px;
  background-color: #000000;
  border-radius: 50%;
}
.badge-inner {
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: bolder;
  text-align: center;
  line-height: 270%;
  padding: 2px;
  z-index: 1;
}
del {
  font-weight: 500;
  opacity: 0.75;
  margin-right: 5px;
}

.main-product {
  padding-top: 30px;
}
.prouct-divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.prouct-portfolio {
  flex: 1;
  margin: 0 20px 30px 0;
}
.prouct-portfolio h3 {
}
.prouct-portfolio .nav {
}
.nav li {
  list-style: none;
  padding: 10px 0;
  min-height: 80px;
  position: relative;
  border-top: 1px solid #ececec;
}
.nav li:first-child {
  border: none;
}
.nav li a {
  display: flex;
  text-decoration: none;
}
.nav li img {
  width: 60px;
  height: 60px;
}
.nav .product-info {
  padding-left: 15px;
  color: #111;
}
.product-name {
  display: block;
  margin-bottom: 5px;
  line-height: 1.3;
}
.product-price {
  white-space: nowrap;
  font-weight: bold;
}

.products {
  flex: 3;
  margin: 0 0 30px 20px;
}
.product-header {
  min-height: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.product-breadcrumb {
  display: flex;
  color: #222;
  font-size: 16px;
  font-weight: bold;
  align-items: center;
  letter-spacing: 0;
}
.product-breadcrumb a {
  color: rgba(102, 102, 102, 0.7);
  font-weight: normal;
  text-decoration: none;
}
.product-breadcrumb a:first-child {
  margin-right: 5px;
}
.product-breadcrumb a:hover {
  color: rgba(102, 102, 102, 1);
}
.product-sort {
  max-height: 100%;
}
.product-sort label {
  display: inline-block;
  font-size: 16px;
  margin-right: 16px;
}
.product-sort select {
  height: 2.4em;
  display: inline-block;
  font-size: 1em;
  background-color: #fff;
  color: #333;
  padding: 0 22px 0 11.6px;
  border: 1px solid #ddd;
  box-shadow: inset 0 -1.4em 1em 0 rgb(0 0 0 / 2%);
  margin: 5px 0;
}
.product-list {
  animation: titleFadeIn ease 1.5s;
}
.product-list h2 {
  margin-bottom: 12.8px;
}
.product-list h2 a {
  font-size: 25.6px;
  text-decoration: none;
  color: #000000;
}
.product-list .ti-menu-alt {
  display: inline-block;
  margin-right: 5px;
}
.product-list p {
  margin-bottom: 20.8px;
}
.product {
  position: relative;
}
.product img {
  width: 100%;
}
.product .product-text-box {
  font-size: 0.9em;
  text-align: center;
  padding: 10px 10px 20px;
}
.product-text-box .product-name {
  margin: 0.1em 0;
}
.product-text-box .btn {
  height: 2.3em;
  line-height: 2.19em;
  padding: 0 15px;
  margin-top: 1em;
}
.product-text-box .btn a {
  font-size: 0.9em;
  letter-spacing: 0.03em;
  font-weight: bolder;
  line-height: unset;
}
.nav-product {
  display: none;
}

@media only screen and (max-width: 63.9375em) {
  .js-new-product {
    display: none;
  }
  
  .js-new-product.open {
    display: block;
  }
  .product-header {
    display: block;
    text-align: center;
  }
  .product-breadcrumb {
    justify-content: center;
  }
  .nav-product {
    display: block;
    padding: 10px 0;
  }
  .nav-product a {
    color: #000000;
    font-weight: bold;
    text-decoration: none;
  }
  .nav-product a i {
    margin-right: 5px;
  }
  .product-sort label {
    display: none;
  }
  /* .js-new-product.open {
        display: block;
    } */
  /* .prouct-portfolio {
        transform: translateX(-100%);
    } */
  .pr-col {
    max-width: 100%;
  }
  .js-new-product {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
  }
  .prouct-portfolio {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 280px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    padding: 30px 0 0 15px;
    z-index: 3;
    animation: menuFadeIn ease 0.4s;
  }
}
@media only screen and (max-width: 46.25em) {
  /* .pr-col {
    margin: 0;
  } */
    .pr-col-4 {
        width: 50%;
    }
    
    .product-price {
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }
}