.main-project {
    padding: 30px 0;
}
/* .main-project .project-img {

} */
.main-project .project-img .project-main-img {
    flex: 1;
    margin: 0 10px 20px;
}

@media only screen and (max-width: 46.25em) {
    .main-project .project-img .project-main-img {
        margin: 0;
    }
}